
.wrapper-class {
    position: relative;
    bottom: 100px;
}
.editor {
    width: 1500px;
    height: 700px !important;
    border: 1px solid #f1f1f1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
    background-color: #FFFFFF;
    padding: 0 50px !important;
    font-size: 50px;
  }



.navigate-button {
    display: flex;
    position: relative;
    left: 150px;
    bottom: 140px;
    width: 270px;
    height: 100px;
    line-height: 100px;
    margin-left: auto;
}

.draftBtn {
    width: 70px;
    height: 70px;
    margin: 5px;
    font-family: regular;
}

.draftBtn.previewOn {
    background-color: #0D1F59;
    color: #FFFFFF;
}

.draftBtn.writeOn {
    background-color: #0D1F59;
    color: #FFFFFF;
}

.draftBtn.searchOn {
    background-color: #0D1F59;
    color: #FFFFFF;
}

.popup-tool {
    position: absolute;
    top: 70%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: #0D1F59;
    width: 700px;
    height: 100vh;
}

.preview-tool {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 230, 230);
    width: 1200px;
    height: 800px;
    z-index: 100;
}

.close-btn {
    margin-left: auto;
    width: 40px;
    padding: 10px;
}