
.wrapper-class {
    position: relative;
    top: 100px;
}
.editor {
    width: 1500px;
    height: 700px !important;
    border: 1px solid #f1f1f1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
  }


.navigate-button {
    position: relative;
    top: 50px;
    width: 340px;
    margin-left: auto;
}

.draftBtn {
    width: 100px;
    height: 50px;
    margin: 5px;
}

.popup-tool {
    position: absolute;
    top: 70%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: pink;
    width: 400px;
    height: 100vh;
}

.preview-tool {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 230, 230);
    width: 1200px;
    height: 800px;
    z-index: 100;
}

.close-btn {
    margin-left: auto;
    width: 40px;
    padding: 10px;
}