
.wrapper-class {
    position: relative;
    bottom: 100px;
}
.editor {
    width: 1500px;
    height: 700px !important;
    border: 1px solid #f1f1f1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
    background-color: #FFFFFF;
    padding: 0 50px !important;
    font-size: 60px;
  }

.navigate-button {
    display: flex;
    position: relative;
    left: 150px;
    bottom: 140px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    margin-left: auto;
}

.draftBtn {
    width: 80px;
    height: 80px;
    margin: 10px;
    font-family: regular;
    font-size: 17px;
}

.draftBtn.previewOn {
    background-color: #0D1F59;
    color: #FFFFFF;
}

.draftBtn.writeOn {
    background-color: #0D1F59;
    color: #FFFFFF;
}

.draftBtn.trashOn {
    background-color: #0D1F59;
    color: #FFFFFF;
}


.toast-message {
    display: flex;
    position: absolute;
    top: 22%;
    right: 12.5%;
    width: 400px;
    height: 55px;
    padding: 0 0 0 20px;
    line-height: 55px;
    font-size: 26px;
    font-family: regular;
    color: #FFFFFF;
    background-color: #0D1F59;
    border-radius: 6px;
    z-index: 100;
}


.popup-tool {
    position: absolute;
    top: 730px;
    left: 85%;
    transform: translate(-50%, -50%);
    background-color: #0D1F59;
    width: 650px;
    height: 940px;
    z-index: 100;
    overflow-y: auto;
}

.popup-header {
    position: relative;
    display: flex;
    height: 100px;
    top: 30px;
    left: 30px;
}

.popup-content {
    position: relative;
    display: flex;
    padding: 20px 30px;
    font-family: regular;
}
.popup-content .head {
    display: flex;
    flex-direction: row;
    height: 75px;
}
.popup-content .head .idx {
    color: #F16600;
    font-size: 45px;
}
.popup-content .head .date {
    color: #828282;
    font-size: 20px;
    padding: 25px 0 0 15px;
}
.popup-content .title {
    color: #FFFFFF;
    font-size: 26px;
}
.popup-content .tag {
    width: auto;
    padding: 0 20px;
    color: #FFFFFF;
    font-size: 20px;
    height: 50px;
    margin: 15px 15px 0 0;
    line-height: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 28px;
    text-align: center;
}


.popup-input {
    position: relative;
    top: 10px;
    padding: 0 15px;
    height: 50px;
    width: 400px;  
    color: #FFFFFF;
    font-size: 20px;
    font-family: regular;
    border: 2px solid #FFFFFF;
    background-color: #0D1F59;
}
.popup-input:focus {
    outline: none;
}
.popup-input::placeholder {
    color: #FFFFFF;
}


.popup-text {
    color: #FFFFFF;
    font-size: 24px;
    font-family: regular;
    padding: 20px;
}


.preview-tool {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 230, 230);
    width: 1200px;
    height: 800px;
    z-index: 100;
}

.close-btn {
    position: relative;
    margin-left: auto;
    width: 100px;
    top: 20px;
}

