.navigate-tags {
    display: flex;
    width: 1600px;
    position: relative;
    top: 150px;
    height: 200px; 
}

.navigate-tags button {
    width: 90px;
    height: 30px;
    margin: 5px;
}

.navigate-tags input {
    width: 300px;
    height: 30px;
    margin-left: auto;
}

.grid-container {
    position: relative;
    display: grid;
    top: 100px;
    width: 1600px;
    padding: 60px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    row-gap: 30px;
    column-gap: 60px;
    border: 1px solid #000000;
    background-color: beige;
}

